<h1>Upload</h1>
<h2>teste 1</h2>
<form method="post" enctype="multipart/form-data">
        <input type="file" name="img">
        <button  type="submit">send</button>
</form>


<h1>Upload</h1>
<h2>teste 2</h2>
<form method="post" enctype="multipart/form-data">
        <input type="file" name="img">
        <button type="submit">send</button>
</form>